---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <Card>
    <p class="max-w-96">
      Hello, web 👋. More exciting things coming soon. For now, we settle for
      just contact details.
    </p>
  </Card>
</Layout>
